/*
Dit is de CSS code voor het aanpassen van de leidingstukjes.
*/
.leidingstukje {
	border-left: 4px solid #439f55;
	background-color: #F9F9F9;
	margin-bottom: 20px;
	padding: 20px;
	font-style: italic;
	overflow: hidden;
}

.leidingfoto {
	width: 25%;
	float: left; 
	padding-right: 15px;
}

.leidingtekst {
	width: 70%;
	float: left;
}

@media only screen and (max-width: 480px) {
	.leidingfoto, .leidingtekst {
		width: 100% !important; 
		padding-right: 0px !important;
	}
}