/*
Theme Name: GB custom theme
Theme URI: http://colorawesomeness.com/themes/travelify/
Description: Child theme for the Travelify theme
Author: scouting Graaf Bernadotte
Author URI: http://graafbernadotte.org/
Template: travelify
Version: 0.1.0
*/

body{
	border-top: hidden;
}

img.alignleft {
	margin-bottom: 0px
}

@media only screen and (max-width: 768px) {
	.fullwidth-media {
		width: 100% !important;
		float: left !important;
	}	
}